:root {
  --font-size-normal: 1.0rem;
  --font-size-small: 0.8rem;
  --font-size-xsmall: 0.7rem;
  --font-size-big: 1.5rem;
  --line-heigth-xsmall: 0.5rem;
  --line-heigth-small: 1.3rem;
  --line-heigth-normal: 1.5rem;
  --line-heigth-large: 1.7rem;
  --padding-space-large: 2rem;
  --padding-space-normal: 1rem;
  --padding-space-small: 0.5rem;
  --margin-space-large: 3rem;
  --margin-space-normal: 2rem;
  --margin-space-small: 1rem;
  --margin-space-xsmall: 0.5rem;
  --border-thin: 1px;
  --border-normal: 3px;
  --border-thick: 5px;
  --font-family-style: "Arial", sans-serif;
  --color-primary: #333;
  --color-hover:#919090;
  --color-secondary: #fff;
  --color-light: #ddd;
  --color-complementary: #ffd9ae;
  --font-weight-light: 400;
  --font-weight-bold: 600;
  --element-size-large: 2.5rem;
  --element-size-normal: 2rem;
  --element-size-small: 1.5rem;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family-style);
  line-height: var(--line-heigth-normal);
}

header {
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  margin: var(--padding-space-normal);
  width: var(--font-size-big);
  height: var(--font-size-big);
  cursor: pointer;
}

.svg-icon {
  width: 100%;
  height: 100%;
}

nav ul {
  list-style-type: none;
  display: none;
  gap: var(--padding-space-small);
}

.menu-toggle:checked + .menu-icon + nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li a {
  padding: var(--padding-space-normal);
  text-decoration: none;
  color: var(--color-secondary);
}

section {
  margin-top: var(--margin-space-large);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: var(--border-thin) solid black;
  border-radius: var(--border-thick);
  max-width: 800px;
  padding: var(--padding-space-small);
  margin: var(--margin-space-small);
}

button {
  padding: var(--padding-space-small) var(--padding-space-small);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
  border-radius: var(--border-thick);
}

button:disabled,
button[disabled] {
  background-color: var(--color-hover);
  color: var(--color-primary);
  cursor: unset;
}

button:hover {
  background-color: var(--color-hover);
}

h3 {
  font-size: var(--font-size-big);
  margin-bottom: var(--margin-space-small);  
}

#cameraContainer {
  width: 80%;
}

#cameraContainer button {
  padding: var(--padding-space-small) var(--padding-space-normal);
}

.titleCamera {
  margin-top: var(--margin-space-normal);
}

#frame {
  display: block;
  width: 100%;
  margin-top: var(--margin-space-normal);
}

@media (min-width: 480px) and (max-width: 767px) {

  .container {
    margin: var(--margin-space-normal);
    padding: var(--padding-space-normal);
  }
}

  @media (min-width: 768px)  {
  .container {
    margin: var(--margin-space-large);
    padding: var(--padding-space-large);
  }

  nav ul {
    display: flex;
    flex-direction: row;
    gap: var(--margin-space-normal);
    padding: var(--padding-space-small);
  }

  nav ul li a:hover {
    background-color: var(--color-hover);
  }

  .menu-icon {
    display: none;
  }
}
