@import url('../styles.css');

/* Style for each parameter container */
.parameter {
  margin-bottom: var(--margin-space-xsmall);
  margin-left:var(--margin-space-xsmall);
}

.container {
  width: 95%;
  line-height: var(--line-space-xsmall);
}

label {
  font-size: var(--font-size-xsmall);
  line-height: var(--line-space-xsmall);
  display: inline-block;
  width:50%;
}

button {
  font-size: var(--font-size-small);
  width: var(--element-size-large);
  padding: var(--padding-space-xsmall) var(--padding-space-xsmall);
  line-height: var(--line-space-xsmall);
  display: inline-block;
 
}
#rebootButton {
  margin-top: var(--margin-space-xsmall);
  font-size: var(--font-size-small);
  padding: var(--padding-space-small) var(--padding-space-small);
  width: 20%; 
  float: left;
}

h4{
  margin-left: 0;
  height: 20px;
}

.parameter-element {
  margin: var(--margin-space-xsmall);
  vertical-align: middle;
  line-height: var(--line-space-xsmall);

}

#configTitle {
  margin-top: var(--margin-space-small);
}

input {
  width: 15%; /* Inputs take full width of their container */
  padding: var(--padding-space-xsmall); /* Add small padding inside the input */
  border-width: var(--border-thin);  /*Thin border around the input */
  border-radius: var(--border-thick); /* Rounded corners for inputs */
  font-size: var(--font-size-small);
  line-height: var(--line-space-xsmall);
  display: inline-block;
}
